{
    "discord_token": "ABCEDFGHIJKMNOPQRSTUVWXYZ",
    "krampus_credentials": {
        "login": "ABCEDFGHIJKMNOPQRSTUVWXYZ",
        "password": "ABCEDFGHIJKMNOPQRSTUVWXYZ"
    },
    "server_ids": [123456789],
    "key_lengths": [10, 20]
}